.cards {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vehicle-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
    height: fit-content;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.vehicle-card:hover {
    transform: scale(1.4);
}

.card-title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #1a1e14;
    color: white;
}

.vehicle-img {
    display: block;
    width: 100%;
    background-color: #2e3424;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #1a1e14;
    color: white;
}

.identifier {
    font-weight: 600;
}

.country {
    font-weight: 500;
}

.br {
    color: #d04030;
}

.type {
    font-weight: 400;
}