* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    background-color: #0d0f0a;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    flex: 1;
    padding: 1%;
    overflow-y: scroll;
    height: 80vh;
}

.content::-webkit-scrollbar {
    background: #0d0f0a; 
}

.content::-webkit-scrollbar-thumb {
    background: #2e3424; 
    border: 1px #0d0f0a;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #7d9048; 
}