body.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../img/backgrounds/login_background.png);
}

body.register {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../img/backgrounds/register_background.png);
}

main {
    display: flex;
    flex-direction: column;
}

main, .main-content {
    display: flex;
    height: 100%;
}

.login {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.register {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.card {
    width: 50%;
    background-color: #1a1e14;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 40px;
    gap: 30px;
    border: 1px solid #2e3424;
}

.card h2 {
    margin: 0;
    font-size: 30px;
}

.formulario {
    display: flex;
    height: 100%;
    width: 90%;
    gap: 10px;
    justify-content: space-around;
    flex-direction: column;
}

.formulario span {
    font-size: 15px;
    font-weight: 400;
}

.formulario input {
    border: 1px solid #7d9048;
    background-color: #2e3424;
    color: white;
    text-align: left;
    border-radius: 7px;
    margin: 0px;
    height: 25px;
    padding: 4px;
}

.formulario ::placeholder {
    color: rgb(180, 180, 180);
}

.formulario select {
    border: 1px solid #7d9048;
    background-color: #2e3424;
    color: white;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    margin: 0;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
}

.botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 1px solid #d04030;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #a63225;
    width: 200px;
    height: 50px;
    align-self: center;
    margin-top: 20px;
}

.botao:hover {
    background-color: #d04030;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none;
}